# Last match in file takes precedence.

# Ping for all PRs
* @DrSmugleaf

‎Resources/Maps/_RMC14/PVE @RMC-14/pve-gamemaster
‎Resources/Prototypes/_RMC14/Entities/Areas/PVE @RMC-14/pve-gamemaster

/Resources/Lobby/ @QuietlyWhisper
/Resources/Audio/ @QuietlyWhisper
/Resources/Textures/ @QuietlyWhisper
